<ccm>
  <!--
     You may exclude multiple files and/or folders
  -->
  <exclude>
    <folder>coffeescript</folder>
    <folder>dojotoolkit</folder>
    <folder>less</folder>
    <folder>modernizer</folder>
    <folder>mylib\tests</folder>
  </exclude>

    
  <!--
    Add a 'folder' element for each folder containing code to analyze.
    NOTE: Keep in mind that the path is relative to the location of the configuration file.
  -->
  <analyze>
    <folder>src\lib\</folder>
  </analyze>
  <recursive>yes</recursive>
  <outputXML>yes</outputXML>
  <numMetrics>10000</numMetrics>
  <suppressMethodSignatures>no</suppressMethodSignatures>
</ccm>


